

 /*------------- Whole Document---------------- */

body {
    font-family: 'Times New Roman';
    font-size: 19px;
}

.title {
  text-shadow: 2px 2px 5px grey;
}

/* make scrollbar for long math equations*/

.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

/* links */
a {
  color: #A569BD;
}

a:hover {
 color: #7D3C98; /* darker color when hovering */
}


  /* Space Between TOC and
  Righthand side content on large screens */

 @media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }


/* -----------HERO IMAGE AT TOP OF PAGE -----------*/

/* LARGE HERO IMAGE AT TOP OF PAGE*/

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url("img/saigoncomua.png");
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 34px;
  padding-bottom: 0.5em
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff72;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}


/*-----------------TOC----------------*/

/* Makes TOC sticky (needed if you used a hero image) */

.row-fluid{
  display: flex; /* Necessary for sticky TOC*/

}

.tocify {
  position: -webkit-sticky;
  position: sticky;
  top: 5em; /*Controls where TOC stops when sticky */
  width: 100% !important;
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
}


/* NO TOC on mobile */

@media screen and (max-width: 767px){

  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }

  .top-text {
    font-size: 25px;
  }

  .bottom-text {
    font-size: 40px;
  }

}

   /* TOC links */

.list-group-item {
    color: #7b8a8b;
    font-size: 16px;
}

.list-group-item.active {
    color: #2c3e50;
    background-color: white;
    border: none;
}

.list-group-item:hover,
.list-group-item.active:hover {
    color: #131b23;
    background-color: white;
}

/*-------------------------------------------------------*/

.blackbox {
  padding: 1em 0em 0.2em 0.2em;
  border: 2px solid #A8A8A8;
  border-radius: 10px;
  background: #1B1C20 5px 0.3em/2.5em no-repeat;
  margin-bottom: 10px;
  color: #BDBFC2;
}

.whitebox {
    padding: 1em 0em 0.2em 0.2em;
    border: 2px solid #1B1C20;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px grey;
    font-size: 17px;
}

.center {
  text-align: left;
  padding: 0em 0em 0.3em 3em;
  font-style: italic;
  color: #FDFDFD;
}

.brainstorm {
  background-image: url("img/brainstorm2.gif");
}

.right {
  text-align: right;
}

.shadtrans {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: shadowtrans;
  font-size: 17px;
}

.shad {
  text-shadow: 2px 2px 5px grey;
}

@keyframes shadowtrans {
  from {text-shadow: 2px 2px 5px white;}
  to {text-shadow: 2px 2px 5px grey;}
}

/* Remove excessive white space at the end of page */

.tocify-extend-page {
  height: 100px !important;

}



/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #141c25f2;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a,
a.dropdown-toggle:hover {
  background-color: #141c25 !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #141c25;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #202831f2;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav:hover,
.navbar-default .navbar-nav>li>a:hover,
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #141c25;
}



/*------------FOOTER----------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
}

.footer {
  font-size: 16px;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}

.footer.logo {
  width: 25px;
  margin: 0px !important;
}

.rstudio4edu-footer {
  font-size: 12px;
  text-transform: uppercase;
}




 /*----------------ADDING WHITE SPACE-------------*/


.title {
  margin-top: 0.5em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
  padding-top: 3em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}


 /*-------------------------------------------------------------------------*/
#TOC::before {
  content: "CONTENTS";
}


.watermark {
  opacity: 0.1;
  position: fixed;
  bottom: 0%;
  left: 40%;
  font-size: 350%;
  color: #7d0040;
  font-size: 40px;
}
